.layout {
    margin: 10px auto;
    max-width: 1200px;
    min-width: 800px;
    overflow: hidden;

}
.nav {
    margin: 0px;
    background-color: grey;
    width: 200px;
    padding: 10px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    float: left;
}
.content {
    height: 800px;
    margin-left: 20px;
    padding: 10px;
    background-color: lightgrey;
    border: 1px solid black;
    overflow: hidden;
}
.title {
    margin: 0px 0px 15px;
    text-align: center;
}
a {
    color: blue;
    text-decoration: none;
}
li {
    margin: 10px 0px;
}