.layout {
	width: 975px;
	margin: auto;
}
.content {
	background-color: lightgray;
	padding: 20px;
	font: TimesNewRomans;
	height: 900px;
	font-size: 30px;
	border: 1px solid black;
}
.title {
	margin: 0px 0px 15px;
	text-align: center;
}