.layout {
	margin: 10px auto;
	width: 80%;
	height: 800px;
}
.col {
	background-color: lightgray;
	height: 100%;
	border: 1px solid black;
	padding: 10px;
}
.firstcol {
	width: 30%;
	float: left;
}
.secondcol {
	overflow: hidden;
}
.thirdcol {
	width: 30%;
	float: right;
}
.title {
	margin: 0px 0px 15px;
	text-align: center;
	}