.layout {
    margin: 10px auto;
    max-width: 1200px;
    min-width: 800px;
}
.nav {
    margin: 0px;
    background-color: grey;
    width: 200px;
    padding: 10px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    float: left;
}
.content {
    height: 800px;
    padding: 10px;
    background-color: lightgrey;
    border: 1px solid black;
    overflow: hidden;
}
.sidebar {
    margin: 0px;
    width: 200px;
    padding: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: grey;
    float: right;
}
.title {
    margin: 0px 0px 15px;
    text-align: center;
}
.avatar {
    width: 30px;
    height: 30px;
}
.userinfo {
    display: flex;
    flex-direction: row;
}
.name {
    align-self: center;
    padding-left: 10px;
}
.feedback {
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    width: auto;
}
.notlast {
    margin-bottom: 5px;
}
a {
    color: blue;
    text-decoration: none;
}
li {
    margin: 10px 0px;
}