header {
	display: flex;
	width: 100vw;
	background: #5985CC;
	justify-content: space-between;
	padding: 1vh 1vw;
	align-items: center;
	border-bottom: 2px solid rgb(80, 120, 184);
	height: 10vh;
}
footer {
	background: #5985CC;
	border-top: 2px solid rgb(80, 120, 184);
	min-height: 15vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
}
.nc {
	display: flex;
}
.play {
	width: 3em;
	height: 3em;
}
.track {
	display: flex;
	align-self: center;
	width: calc(83vw / 3);
	margin-top: 2vh;
}
.tracks {
	display: flex;
}
content {
	width: 85vw;
	padding: 1vh 1vw;
}
.head-search {
	width: 35vw;
}
.head-info-i {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.head-info {
	display: flex;
	align-items: center;
}
.head-info-logo {
	height: 5em;
	width: auto;
}
@media (min-width: 1024px) {
	.nav, content {
		height: 75vh;
	}
	.tracks {
		flex-wrap: wrap;
	}
}
.nav {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 15vw;
	flex-wrap: nowrap;
	background: #5985CC;
	padding-left: 2vw;
	padding-right: 2vw;
	border-right: 2px solid rgb(80, 120, 184);
}
.nav button {
	margin-top: 2vh;
}
.notdest {
	display: none;
}
a {
	color: black;
}
a:hover {
	color: lightgray;
}
@media (max-width: 1024px) {
	.head-search, .head-btns {
		display: none;
	}
	.nc {
		display: block;
	}
	content {
		display: flex;
		padding: 1vh 1vw;
		width: 100vw;
		flex-direction: column;
		min-height: 100vh;
	}
	.track {
		width: 100vw;
	}
	.tracks {
    	flex-wrap: nowrap;
    	flex-direction: column;
	}
	header {
		justify-content: center;
		min-height: 10vh;
		height: auto;
	}
	.notdest {
		display: block;
	}
	.btndest {
		display: none;
	}
	.nav {
		flex-direction: row;
		border: none;
		flex-wrap: wrap;
		height: auto;
		min-height: 8vh;
		width: 100%;
		justify-content: space-evenly;
		align-items: center;
		border-bottom: 2px solid rgb(80, 120, 184);
	}
	.nav button {
		margin: 2vh 0;
	}
}