.layout {
	width: 975px;
	margin: auto;
}
.nav, .content {
	position: absolute;
}
.nav {
	margin: 0px;
	background-color: grey;
	width: 175px;
	padding: 10px;
	border: 1px solid black;
}
.content {
	width:790px;
	height: 800px;
	margin-left: 196px;
	padding: 10px;
	background-color: lightgrey;
	border: 1px solid black;
}
.title {
	margin: 0px 0px 15px;
	text-align: center;
}
a {
	color: blue;
	text-decoration: none;
}
li {
	margin: 10px 0px;
}