header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 10vh;
	width: 100%;
	background: #318CE7;
	padding-left: 2vw;
	padding-right: 2vw;
	padding-top: 5vh;
	padding-bottom: 5vh;
	border-bottom: 2px solid rgb(0, 128, 255);
}
content {
	display: flex;
	flex-direction: column;
	width: 85vw;
	padding: 2vh 2vw;
}
@media (min-width: 1024px) {
	content {
		height: calc(80vh - 2px);
	}
}
.nc {
	display: flex;
}
footer {
	display: flex;
	min-height: 10vh;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #318CE7;
	border-top: 2px solid rgb(0, 128, 255);
}
.logo {
	width: 3.5em;
	height: 3.5em;
	margin-right: 1vh;
}
.notdest {
	display: none;
}
.headinf {
	display: flex;
	align-items: center;
	justify-content: start;
}
.nav {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 15vw;
	height: calc(80vh - 2px);
	flex-wrap: nowrap;
	background: #318CE7;
	padding: 0 2vw;
	border-right: 2px solid rgb(0, 128, 255);
}
.textnav {
	margin-top: 1vh;
}
a {
	color: black;
}
a:hover {
	color: lightgray;
}
.nav button {
	margin-top: 2vh;
}
@media (max-width: 1024px) {
	content {
		min-height: 100vh;
	}
	.nc {
		display: block;
	}
	.notdest {
		display: block;
	}
	.logo {
		width: 2em;
		height: 2em;
	}
	.dest {
		display: none;
	}
	footer {
		text-align: center;
	}
	header {
		padding-top: 5vh;
		padding-bottom: 5vh;
		justify-content: center;
		min-height: 10vh;
		height: auto;
	}
	.btndest, .textnav {
		display: none;
	}
	.nav {
		flex-direction: row;
		border: none;
		flex-wrap: wrap;
		min-height: 8vh;
		height: auto;
		width: 100%;
		justify-content: space-evenly;
		align-items: center;
		border-bottom: 2px solid rgb(0, 128, 255);
	}
	.nav button {
		margin-top: 0vh;
	}
}